@charset "UTF-8";
.drug_search {
	margin-left: 50px;
}

#contents {
	overflow: scroll;	
}

#contents select {
	font: initial;
	font-size: 25px;
	margin-top: 50px;
	margin-left: 20px;
	border-radius: 5px;
}

#search_btn {
	background: url("../images/search_icon.png");
	background-repeat: no-repeat;
	background-color: white;
	width: 32px;
	height: 32px;
	border: 3px solid black;
	border-radius: 3px;
	padding: 3px;
	cursor: pointer;
	vertical-align: middle;
}
#search_btn:hover {
	background-color: #D4F4FA;
	border-color: #DB9CFF;
	box-shadow: 0 0 10px #DB9CFF;
}

table {
	margin-left: 50px;
	border-spacing: 0;
	margin-bottom: 50px;
}

th {
	background-color: #D4F4FA;
	padding: 10px;
}
td {
	padding: 10px;
	background-color: white;
}
input:focus {
	outline: none !important;
	border-color: #DB9CFF;
	box-shadow: 0 0 10px #DB9CFF;
}
select:focus {
	outline: none !important;
	border-color: #DB9CFF;
	box-shadow: 0 0 10px #DB9CFF;
}