@charset "UTF-8";
	body {
		margin: 50px;;
		display: flex;
		justify-content: center;
	}

	div {
		border: 2px solid #489CFF;
		width: 600px;
		height: 700px;
	}
	
	h1 {
		margin-top: 50px;
		color: #489CFF;
		display: flex;
		font-size : 3em;
		justify-content: center;
	}
	
	h2 {
		margin-top: 50px;
		display: flex;
		justify-content: center;
	}
	
	hr {
		width: 412px;
		margin-bottom: 60px;
		margin-top: 60px;
	}
	
	.jointable {
		display: flex;
		justify-content: center;
	}
	
	td {
		font-size: 13px;
		margin-top: 10px;
	}
	
	a {
		text-decoration: none;
		color: #489CFF;
	}
	
	a:hover {
		color: #1DDB16;
	}
	
	i {
		width: 48px;
		height: 48px;
		margin-right: 8px;
	}
	
	.ment {
		margin-left: 15%;
	}
	
	.id {
		width: 65%;
		padding: 8px;
		margin-left: 15%;
		margin-bottom: 15px;
		font-size: 16px;
	}
	
	.log {
		width: 68%;
		border: 0;
		border-radius: 5px;
		padding: 6px;
		margin-left: 15%;
		background-color: #489CFF;
		color: white;
	}
	
	.log:hover {
		color: #1DDB16;
	}
	
	.log2 {
		width: 68%;
		border: 0;
		border-radius: 5px;
		padding: 6px;
		margin-top: 30px;
		margin-left: 15%;
		background-color: #489CFF;
		color: white;
	}
	
	.log2:hover {
		color: #1DDB16;
	}
	
	.forget {
		display: flex;
		justify-content: center;
	}
	.in {
		width: 270px;
		font-size: 16px;
		margin-bottom: 10px;
		padding: 8px;
	}
	
	label {
		margin-left: 15%;
	}
	
	label:hover {
		color: #1DDB16;
	}
	#login_not {
		color: red;
	}
	input:focus {
		outline: none !important;
		border-color: #1DDB16;
		box-shadow: 0 0 10px #1DDB16;
	}
