@charset "UTF-8";

	.mainContents{
		min-width: 1000px;
		background-color: white;
		display: inline-block;
		height: 100%;
		width: 100%;
		position: relative;
	}
	textarea {
		width: 400px;
		height: 130px;
		resize: none;
	}
	.resultBox {
		width : 90%;
		height: 90%;
		float: left;
		margin : 5%;
		margin-top : 3%;
		position: relative;
		border: 3px solid lightsteelblue;
		overflow: auto;
		text-align: center;
	}
	select {
		font: initial;
		width: 50%;
	}
	.resultBox table, .resultBox td, .resultBox th {
		min-width:100%;
		border: 1px solid #BDBDBD;
		border-collapse:collapse;
		font-size: 22pt;
		width: auto;
		text-align: center;
	}
	tr:hover {
		background-color: #DDDDDD;
	}
	tr.diaReg{
		font-weight: bold;
		height: 100px;
			font-size: xx-large;
	}
	tr.diaReg:hover {
		background-color: lightsteelblue;
		cursor:pointer;
		color: white;
	}
	table.inf  {
		height: 100%;
	}
	