@charset "UTF-8";
@font-face {
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   }
   
   * {
   font-family: 'GangwonEduSaeeum_OTFMediumA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
    font-size: 30px;
   }

	#header {
		height : 50px;
		background-color: cornflowerblue;
		
		padding: 20px;
		border-bottom: solid 3px;
		border-bottom-color: white;
		position: relative;
		width: 1240px;
		margin: 0 auto;
	}
	
	#container {
		width: 1280px;
		height: 800px;
		margin: 0 auto;
	}
	
	#contents {
		width: 1047px;
		height : 800px;
		float: left; /* 둘 다 left면 body에서 먼저 있는 애가 left로 잡히고 그 다음이 left로 잡힘 */
		/* background-color: lightsteelblue; */
		border-right: 3px solid cornflowerblue;
	}
	
	#left-sidebar {
	
		background-color: cornflowerblue;
		width: 230px;
		height : 800px;
		float: left;
	}
	
	.header_logo {
		font-size: 40px;
		font-weight: bold;
		color: white;
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
	
	.header_image {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
	
	.header_logout {
		position: absolute;
		bottom: 25px;
		right: 170px;
		background-color: #3DB7CC;
		color: white;
		border: 0;
		font-size: 25px;
	}
	.header_logout:hover {
		border-color: #1DDB16;
		box-shadow: 0 0 10px #1DDB16;
	}
	
	.header_page {
		position: absolute;
		bottom: 20px;
		left: 250px;
		font-size: 40px;
		color: white;
		font-family: 'GangwonEduSaeeum_OTFMediumA';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
		}
	
	.header_name {
		position: absolute;
		bottom: 25px;
		font-weight: bold;
		font-size: 25px;
		color: white;
		right: 100px;
	}
	
	.main_menu_btn {
	
		display: flex;
		background-color: white;
		border: 1px solid black;
		justify-content: center;
		margin: 15px;		
		padding: 20px;
		
	
	}
	
	.main_menu_btn:hover {
		color: cornflowerblue;
		box-shadow: 3px 3px #00008B;
	}
	
	#schedule {
		border: solid 2px;
		border-color: white;
		margin: 10px;
		height: 400px;
		background-color: white;
	  
	}
	
	#patient_info{
	
		border: solid 2px;
		border-color: white;
		margin: 10px;
		height: 370px;
		background-color: white;
	}
	
	
	#footer {
		height : 130px;
		clear : both; /* 나는 flat를 따르지 않을 거란다~ */
		background-color: cornflowerblue;
		
		border-top: solid 3px;
		border-top-color: white;
		padding-left: 10px;
	}
	
	
	a {
		text-decoration: none;
		color: inherit;
	}
	
	.area {
	  position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
	  
	  padding-bottom: 30%; /* 16:9 비율 */
	}
	
	#video {
	  position: absolute;
	  width: 100%; /* 부모에 맞게 꽉 채운다. */
	  height: 100%;
	}
